html
    min-height: 100vh


body
    min-height: 100vh
    // background: rgb(255,255,255)
    background: linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%, rgba(176,176,176,1) 100%)
    font-size: 13px
.navegacion
    grid-area: nav
    +bordes
    .main_menu
        display: flex
        flex-flow: row wrap           
        list-style-type: none        
        +bordes       
        margin-left: -10px 
        margin-right: -10px 

        li
            background: $color1
            flex: 1 1 auto
            margin: 2px 2px
            +bordes
            padding: 10px
            font-size: 1.125em
            transition: all .15s
            +shadow

            &:hover
                background: $color2
                cursor: pointer
            
            &:active
                box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5)
       
.contenedor
    color: #fff
    width: 80%
    max-width: 1500px
    margin: 0 auto
    display: grid
    grid-gap: 5px
    grid-template-columns: repeat(2, 1fr) 250px
    grid-template-rows: repeat(5, auto)
    grid-template-areas: 'header header header' 'nav nav nav' 'main main sidebar' 'main main sidebar' 'footer footer footer'

.main_content
    grid-area: main
    min-width: 288px
    min-height: 70vh
    position: relative
    // +bordes
    // background: $color1
    &__inicio
        height: 100%
    // ESPECIALIDADES Y ESTUDIOS-----------------------------------------------------------------------------------
    &__especialidades, &__estudios      
        font-size: 1.25em
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 25px 1fr

        ul
            display: flex
            flex-flow: row wrap
            margin: 10px 0px
            
        li
            list-style-type: none
            background: $color2
            border-radius: 50px
            +shadow_light
            padding: 7px
            margin: 20px 10px
            flex: 1 1 auto
            display: flex
            letter-spacing: 1px    
            justify-content: center
            align-items: center
            
            
            &:hover
                cursor: pointer
            &:active
                background: $color3

            span
                margin-right: 0.3125em   
            
    .title
        grid-column: 1 / -1        
        align-self: start   
        letter-spacing: 2px
        font-size: 1.5625em
        background: $color1
        +shadow_light
        border-radius: 4px
        padding: 5px
        text-align: center


    // ESTUDIOS-----------------------------------------------------------------------------------
    &__estudios
        display: none
    // PROFESIONALES-----------------------------------------------------------------------------------
    &__profesionales
        font-size: 0.9rem
        display: grid
        grid-gap: 20px
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(3, auto)
        align-content: start
        justify-content: center
        display: none

        img
            height: 150px
            background: #ffff
            border-radius: 50%

        .profesional_1, .profesional_2, .profesional_3, .profesional_4, .profesional_5,.profesional_6
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr 80px
            justify-items: center
            align-content: center
            margin: 0 5px
            margin-bottom: 1.25em
            text-align: left
            
            .profesional_description
                display: grid
                grid-template-columns: 1fr
                grid-template-rows: repeat(4, auto)
                justify-items: left
                margin-top: 8px
                margin-left: 0.9375em
                +bordes
                color: $color1

                span
                    text-indent: -0.9375em
    // TURNOS-----------------------------------------------------------------------------------
    &__turnos
        min-height: 70vh
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 40px 80px 1fr
        .center
            position: relative
            min-height: 100%
            display: flex
            justify-content: center
            align-items: center

        .progress_bar
            color: $color1
            display: flex
            margin: 10px 0

            .step
                text-align: center
                width: 100%
                height: auto
                position: relative

                p
                    letter-spacing: 1px
                    font-size: 0.8125em
                    transition: .2s
                
                    &.active
                        color: $color2

                &:last-child::before,
                &:last-child::after
                    display: none

                &::before,
                &::after
                    position: absolute
                    content: ''
                    bottom: 2rem
                    left: 50%
                    height: 3px
                    width: 100%
                    background: $color1
                    z-index: -1
                
                &.active::after
                    background: $color2
                    transform: scaleX(0)
                    transform-origin: left
                    animation: animate .3s linear forwards

                @keyframes animate
                        
                    100%
                        transform: scaleX(1)

            .bullet
                position: relative
                display: inline-block
                height: 25px
                width: 25px
                border: 1px solid $color1
                border-radius: 50%
                background: linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%, rgba(176,176,176,1) 100%)

                &.active
                    border-color: $color2
                    background: $color2                                      

                span 
                    position: absolute
                    top: -1px
                    left: -1px
                    display: flex
                    font-size: 17px
                    width: 25px
                    line-height: 25px
                    justify-content: center
                    align-items: center

                &.active span
                    display: none

            i
                position: absolute
                font-size: 17px
                line-height: 25px
                left: 50%
                top: 43%
                transform: translate(-50%, -50%)
                display: none
            
                &.active
                    display: block
                    color: #fff
            


        .turnos_formulario, .turnos_formulario2, .turnos_formulario3, .turnos_formulario4
            width: 40%
            height: 100%
            color: $color1
            display: flex
            flex-flow: column nowrap
            justify-content: center
            font-size: 0.8125rem
            user-select: auto

            div
                position: relative
                margin: 0.9375rem 0

                label             
                    position: absolute
                    left: 5px
                    top: -1.125rem
            
                    
                input, select
                    border: none
                    font-size: 0.8125rem
                    padding: 5px
                    border-radius: 5px
                    color: $color1
                    width: 100%
                    border-bottom: 1px solid $color2

                    & ~ label
                        left: 5px
                        top: -1.125rem
                        transition: 0.5s ease all
                    
                .input_hover ~ label
                    top: 5px
                    color: #666

                .input_hover:focus ~ label, .input_hover:valid ~ label
                    top: -1.125rem
                    color: $color1

                .inner_flex
                    display: flex
                    flex-flow: row nowrap
                    flex: 1 0 50px
                    justify-content: space-between

                    input
                        width: 100%
                    // SELECCIONA TODOS LOS ELEMENTOS QUE VIENE DESPUES DEL PRIMERO
                    .input_hover2:nth-child(1) ~ .input_hover2
                       margin-left: 15px 
            
            .botones_group
                display: flex
                justify-content: center
                align-items: center
                
                button
                    flex: 1 1 auto
                    
                    &:first-child
                        margin-right: 10px

                
            button
                +shadow_light
                background: $color2
                color: #eee
                border: none
                border-radius: 50px
                height: 30px
                font-size: 20px
                text-align: center

                &:hover
                    cursor: pointer
                &:active
                    background: $color3



        .turnos_formulario2, .turnos_formulario3, .turnos_formulario4
            display: none

                // .input_hover:invalid ~ label::before 
                //     content: 'x '
                //     color: red                  

              
        
    &__especialidades, &__estudios

        display: none

.sidebar
    grid-area: sidebar
    display: grid
    +bordes
    background: $color1
    min-height: 12.5em
    font-size: 1.125em
    align-content: center
    +shadow
    +shadow_light
    
.footer
    grid-area: footer
    +bordes
    background: $color1
    font-size: 0.8375em
    +shadow
    +shadow_light

    h2
        margin: 10px
        user-select: text
        text-decoration: none
        text-indent: -10px


@media screen and ( max-width: 1040px )
    .main_content
            .title
                font-size: 20px
            &__profesionales
                font-size: 12px   

@media screen and ( max-width: 902px )
    .main_content
            .estudios
                font-size: 15px           

@media screen and ( max-width: 768px )

    .contenedor
        grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'main main main' 'sidebar sidebar sidebar' 'footer footer footer'

    body
        font-size: 10px

    .main_content
        ul
            margin-left: 0
            margin-right: 0
            span 
                margin-right: 8px


        .main_content__profesionales
            grid-template-columns: 1fr
            
            h2 
                font-size: 17px

        .estudios
            font-size: 12px    

        .turnos_formulario, .turnos_formulario2
            width: 70%

        .step
            i
                top: 23px

            &::before,
            &::after
                top: 22px
                
            .bullet    
                span
                    left: -1px
                    top: -1px

// .main_content
//     &__especialidades, &__profesionales, &__estudios
//         display: none
    
        
