body
    min-height: 100vh
    background: rgb(255,255,255)
    background: linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%, rgba(176,176,176,1) 100%)
.navegacion
    grid-area: nav
    +bordes
    .main_menu
        display: flex
        flex-flow: row wrap           
        list-style-type: none        
        +bordes       
        margin-left: -10px 
        margin-right: -10px 
        
        li
            background: $color1
            flex: 1 1 auto
            margin: 2px 2px
            +bordes
            padding: 10px
            font-size: 1.125em
            transition: all .15s
            +shadow

            &:hover
                background: $color2
                cursor: pointer
            
            &:active
                box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5)
       
.contenedor
    color: #fff
    width: 80%
    max-width: 1500px
    margin: 0 auto
    display: grid
    grid-gap: 5px
    grid-template-columns: repeat(2, 1fr) 250px
    grid-template-rows: repeat(5, auto)
    grid-template-areas: 'header header header' 'nav nav nav' 'main main sidebar' 'main main sidebar' 'footer footer footer'

.main_content
    grid-area: main
    min-width: 288px

    &__especialidades        
        grid-area: main
        +bordes
        background: $color1
        font-size: 1.25em
        +shadow
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 60px 1fr

        ul
            display: flex
            flex-flow: column nowrap
            // justify-self: center  
            margin-bottom: 10px            

        li
            list-style-type: none
            flex: 1 1 auto
            display: flex
            letter-spacing: 1px    
            border-bottom: 1px solid gray
            align-items: center        
            &:hover
                background: $color2
                cursor: pointer

            span
                margin-right: 20px   

            .especialidad__cita            
                border: 1px solid #eee
                margin-left: auto
                margin-right: 0
                border-radius: 4px
                padding: 4px 3px
                margin-top: 5px
                margin-bottom: 5px
                font-size: 0.875em
                box-shadow: inset 0 12px 35px rgba(228, 228, 228, 0.5)

            button
                cursor: pointer
                border: 1px solid #eee
                background: none
                color: #eee
                &:active
                    box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5)
            
        .title
            grid-column: 1 / -1        
            align-self: start   
            letter-spacing: 4px     

.center2
    grid-area: main
    +bordes
    background: $color1
    // height: 40.5em
    font-size: 0.9375em
    +shadow
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(3, auto)
    align-content: start
    justify-content: center

    img
        height: 6.25em
    
    .center_title
        grid-column: 1 / -1

    display: none

.sidebar
    grid-area: sidebar
    display: grid
    +bordes
    background: $color1
    min-height: 12.5em
    font-size: 1.125em
    align-content: center
    +shadow
    
.footer
    grid-area: footer
    +bordes
    background: $color1
    font-size: 0.8375em
    +shadow
    
    h2
        margin: 10px
        user-select: text
        text-decoration: none
    

@media screen and ( max-width: 768px )
    .contenedor
        grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'main main main' 'sidebar sidebar sidebar' 'footer footer footer'

    body
        font-size: 10px

    .center
        font-size: 12px