 /* Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar
    display: none

body
    /* Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none
    scrollbar-width: none
    background-color: #ffffff
    // height: 100vh
    font-size: 16px

.navegacion
    grid-area: nav
    // background: $color1
    +bordes
    .main_menu
        display: flex
        flex-flow: row wrap           
        list-style-type: none        
        +bordes       
        margin-left: -10px 
        margin-right: -10px 
        
        li
            background: $color1
            flex: 1 1 auto
            margin: 2px 2px
            +bordes
            padding: 10px
            font-size: 1.125em
       
.contenedor
    color: #fff
    width: 90%
    max-width: 1000px
    margin: 0 auto
    display: grid
    grid-gap: 5px
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(5, auto)
    grid-template-areas: 'header header header' 'nav nav nav' 'main main sidebar' 'main main sidebar' 'footer footer footer'

.center
    grid-area: main
    +bordes
    background: $color1
    height: 40.5em
    font-size: 0.9375em


.sidebar
    grid-area: sidebar
    display: grid
    +bordes
    background: $color1
    min-height: 12.5em
    font-size: 1.125em
    align-content: center
    
.footer
    grid-area: footer
    +bordes
    background: $color1
    font-size: 15px
    max-height: 50px

@media screen and ( max-width: 768px )
    .contenedor
        grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'main main main' 'sidebar sidebar sidebar' 'footer footer footer'

    body
        font-size: 10px
    
    .logo_img
        width: 380px
        margin-left: -15px