header
    display: flex
    // justify-content: center
    grid-area: header
    justify-content: center
    align-items: center

.logo_img
    height: 9.375rem
    max-width: 28.125rem
    flex: 1 1 auto
    transition: all .5s
    

