=bordes
    padding: 5px
    border-radius: 7px
    text-align: center

=shadow
    -webkit-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.61)
    -moz-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.61)
    box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.61)



$color1: rgb(51,65,92)
$color2: rgb(61,204,199)
$color1: rgb(0,52,89)