* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  height: 9.375rem;
  max-width: 28.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #ffffff;
  font-size: 16px;
}

.navegacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.navegacion .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
}

.navegacion .main_menu li {
  background: #003459;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 2px;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  font-size: 1.125em;
}

.contenedor {
  color: #fff;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 'header header header' 'nav nav nav' 'main main sidebar' 'main main sidebar' 'footer footer footer';
}

.center {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  background: #003459;
  height: 40.5em;
  font-size: 0.9375em;
}

.sidebar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: sidebar;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  background: #003459;
  min-height: 12.5em;
  font-size: 1.125em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  background: #003459;
  font-size: 15px;
  max-height: 50px;
}

@media screen and (max-width: 768px) {
  .contenedor {
        grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'main main main' 'sidebar sidebar sidebar' 'footer footer footer';
  }
  body {
    font-size: 10px;
  }
  .logo_img {
    width: 380px;
    margin-left: -15px;
  }
}
/*# sourceMappingURL=main.css.map */