* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  max-width: 28.125em;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-filter: drop-shadow(5px 5px 5px #949494);
          filter: drop-shadow(5px 5px 5px #949494);
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background: white;
  background: linear-gradient(174deg, white 0%, #dadada 100%, #b0b0b0 100%);
  font-size: 13px;
}

.navegacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.navegacion .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
}

.navegacion .main_menu li {
  background: #003459;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 2px;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  font-size: 1.125em;
  -webkit-transition: all .15s;
  transition: all .15s;
  -webkit-box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
}

.navegacion .main_menu li:hover {
  background: #3dccc7;
  cursor: pointer;
}

.navegacion .main_menu li:active {
  -webkit-box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5);
}

.contenedor {
  color: #fff;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[2] 250px;
      grid-template-columns: repeat(2, 1fr) 250px;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 'header header header' 'nav nav nav' 'main main sidebar' 'main main sidebar' 'footer footer footer';
}

.main_content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  min-width: 288px;
  min-height: 70vh;
  position: relative;
}

.main_content__inicio {
  height: 100%;
}

.main_content__especialidades, .main_content__estudios {
  font-size: 1.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 25px 1fr;
      grid-template-rows: 25px 1fr;
}

.main_content__especialidades ul, .main_content__estudios ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 10px 0px;
}

.main_content__especialidades li, .main_content__estudios li {
  list-style-type: none;
  background: #3dccc7;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 7px;
  margin: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content__especialidades li:hover, .main_content__estudios li:hover {
  cursor: pointer;
}

.main_content__especialidades li:active, .main_content__estudios li:active {
  background: #02f8f0;
}

.main_content__especialidades li span, .main_content__estudios li span {
  margin-right: 0.3125em;
}

.main_content .title {
  grid-column: 1 / -1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  letter-spacing: 2px;
  font-size: 1.5625em;
  background: #003459;
  -webkit-box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.main_content__estudios {
  display: none;
}

.main_content__profesionales {
  font-size: 0.9rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.main_content__profesionales img {
  height: 150px;
  background: #ffff;
  border-radius: 50%;
}

.main_content__profesionales .profesional_1, .main_content__profesionales .profesional_2, .main_content__profesionales .profesional_3, .main_content__profesionales .profesional_4, .main_content__profesionales .profesional_5, .main_content__profesionales .profesional_6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 80px;
      grid-template-rows: 1fr 80px;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 5px;
  margin-bottom: 1.25em;
  text-align: left;
}

.main_content__profesionales .profesional_1 .profesional_description, .main_content__profesionales .profesional_2 .profesional_description, .main_content__profesionales .profesional_3 .profesional_description, .main_content__profesionales .profesional_4 .profesional_description, .main_content__profesionales .profesional_5 .profesional_description, .main_content__profesionales .profesional_6 .profesional_description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  justify-items: left;
  margin-top: 8px;
  margin-left: 0.9375em;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  color: #003459;
}

.main_content__profesionales .profesional_1 .profesional_description span, .main_content__profesionales .profesional_2 .profesional_description span, .main_content__profesionales .profesional_3 .profesional_description span, .main_content__profesionales .profesional_4 .profesional_description span, .main_content__profesionales .profesional_5 .profesional_description span, .main_content__profesionales .profesional_6 .profesional_description span {
  text-indent: -0.9375em;
}

.main_content__turnos {
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
}

.main_content__turnos .center {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content__turnos .turnos_formulario {
  width: 40%;
  height: 100%;
  color: #003459;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8125rem;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.main_content__turnos .turnos_formulario div {
  position: relative;
  margin: 0.9375rem 0;
}

.main_content__turnos .turnos_formulario div label {
  position: absolute;
  left: 5px;
  top: -1.125rem;
}

.main_content__turnos .turnos_formulario div input, .main_content__turnos .turnos_formulario div select {
  border: none;
  font-size: 0.8125rem;
  padding: 5px;
  border-radius: 5px;
  color: #003459;
  width: 100%;
  border-bottom: 1px solid #3dccc7;
}

.main_content__turnos .turnos_formulario div input ~ label, .main_content__turnos .turnos_formulario div select ~ label {
  left: 5px;
  top: -1.125rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.main_content__turnos .turnos_formulario div .input_hover ~ label {
  top: 5px;
  color: #666;
}

.main_content__turnos .turnos_formulario div .input_hover:focus ~ label, .main_content__turnos .turnos_formulario div .input_hover:valid ~ label {
  top: -1.125rem;
  color: #003459;
}

.main_content__turnos .turnos_formulario div .inner_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_content__turnos .turnos_formulario div .inner_flex input {
  width: 100%;
}

.main_content__turnos .turnos_formulario div .inner_flex .input_hover2:nth-child(1) ~ .input_hover2 {
  margin-left: 15px;
}

.main_content__turnos .turnos_formulario button {
  -webkit-box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #3dccc7;
  color: #eee;
  border: none;
  border-radius: 50px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.main_content__turnos .turnos_formulario button:hover {
  cursor: pointer;
}

.main_content__turnos .turnos_formulario button:active {
  background: #02f8f0;
}

.main_content__especialidades, .main_content__estudios {
  display: none;
}

.sidebar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: sidebar;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  background: #003459;
  min-height: 12.5em;
  font-size: 1.125em;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  background: #003459;
  font-size: 0.8375em;
  -webkit-box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 3px 15px 16px -6px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 9999px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.footer h2 {
  margin: 10px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  text-decoration: none;
  text-indent: -10px;
}

@media screen and (max-width: 1040px) {
  .main_content .title {
    font-size: 20px;
  }
  .main_content__profesionales {
    font-size: 12px;
  }
}

@media screen and (max-width: 902px) {
  .main_content .estudios {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
        grid-template-areas: 'header header header' 'nav nav nav' 'main main main' 'main main main' 'sidebar sidebar sidebar' 'footer footer footer';
  }
  body {
    font-size: 10px;
  }
  .main_content ul {
    margin-left: 0;
    margin-right: 0;
  }
  .main_content ul span {
    margin-right: 8px;
  }
  .main_content .main_content__profesionales {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main_content .main_content__profesionales h2 {
    font-size: 17px;
  }
  .main_content .estudios {
    font-size: 12px;
  }
  .main_content .turnos_formulario {
    width: 70%;
  }
  .main_content .progress {
    position: absolute;
    top: -30px;
    left: -30px;
  }
  .main_content .progress svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    top: 0;
  }
  .main_content .progress svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #aaa;
    stroke-width: 10;
    stroke-linecap: round;
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  .main_content .progress svg circle:nth-child(2) {
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    stroke-dashoffset: 96;
    stroke: #3dccc7;
  }
}
