
.icon-ok:before { content: '\e800'; } /* '' */
.icon-box:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-mobile-1:before { content: '\e805'; } /* '' */
.icon-book-alt:before { content: '\e806'; } /* '' */
.icon-lightbulb:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */